@import url("https://fonts.googleapis.com/css2?family=Spirax&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@500&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: relative;
}

.random {
  position: absolute;
  top: 1rem;
  right: 3.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
  font-size: 1rem;
  color: #919191;
}
.random i {
  margin-left: 5px;
  width: 0.8rem;
  color: #919191;
}

.quote-section {
  padding: 0;
  /* background-color: red; */
}

.quote-section .quote__body .quote_paragraph {
  border-left: 4px solid #f7df94;
  padding-left: 3rem;
  max-width: 12cm;
  font-size: 1.2rem;
  font-family: Spectral, Spirax, Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
}

.quote-section .quote__footer {
  margin-top: 3rem;
  padding-left: 2rem;
  position: relative;
}

.quote-section .quote__footer .footer__information {
  padding: 2rem 0rem 2rem 1rem;
  transition: all 0.3s linear;
}

.quote-section .footer__information:hover {
  background-color: #333333;
  padding: 2rem 0rem 2rem 1rem;
  cursor: pointer;
}

.quote-section .footer__information:hover .author {
  color: white;
}
.quote-section .footer__information:hover + .next-icon {
  display: block;
  width: 20px;
  position: absolute;
  top: 40%;
  right: 40px;  
}

.quote-section .quote__footer .next-icon {
  display: none;
}

i{
  color: white;
}

.quote__footer .author {
  font-size: 20px;
  padding: 0;
  margin: 0;
  color: #4f4f4f;
}

.quote__footer .genre {
  padding: 0;
  margin: 0;
  color: #828282;
}

/* ------------------ footer ----------------- */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #403f3f;
}

#footer p {
  padding: 0;
  margin: 0;
}

#footer p .name {
  color: #828282;
}
